{% extends 'base.html.twig' %}

{% block bodyType %} class='subpage' {% endblock %}
{% block body %}
    <section class="breadcrumbs">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <a href="index.html"> Strona główna </a>
                    <a href="#"> Katowice </a>
                </div>
            </div>
            
        </div>
    </section>

    <section class='smaller-padding'>
        <div class="wrapper">
            <div class="row middle-md between-md">
                <div class="col-md-6 col-sm-12">
                    <div class="content left">
                        <h1 class="red"> Lorem ipsum dolor sit amet enim. Etiam ullamcorper</h1>
                        <p class="big-paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime maiores facere similique cum, expedita fugit perspiciatis incidunt omnis dolores impedit illum beatae magni.
                        </p>
                        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sit deleniti voluptatum vitae eligendi sapiente, impedit architecto laudantium debitis voluptatibus alias perferendis cupiditate eius minima, in placeat laborum. Exercitationem, ad.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, sit aliquid, incidunt culpa soluta qui deleniti voluptatibus nihil, fugit atque ducimus eligendi reprehenderit non consectetur dignissimos itaque repellat quas. Cupiditate!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eveniet dolores nesciunt. Maiores officiis doloribus, dicta nihil nemo dignissimos voluptates rem cum! Eos dolorem quia odio neque? Delectus, minima blanditiis!</p>
                    </div>
                </div>

                <div class="col-md-5 col-sm-12">
                    <div class="image-border">
                        <img src="{{ asset('images/phot.jpg') }}" alt="zdjęcie">   
                    </div>
                </div>

                <div class="col-xs-12">
                    <ul class="social-media">
                        <li> <a href="#"> <img src="{{ asset('images/fb-icon.jpg') }}" alt="facebook"> </a> </li>
                        <li> <a href="#"> <img src="{{ asset('images/tw-icon.jpg') }}" alt="twitter"> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="comparision smaller-padding">
        <div class="wrapper">
            <h3> Porównanie kwoty czynszu w stosunku do innych miast </h3>
            <form action="">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <label for="flat-type"> Wybierz typ mieszkania: </label>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                        <div class="input-wrapper">
                            <select name="flat-type">
                                <option value="typ1"> Typ 1</option>
                                <option value="typ2"> Typ 2</option>
                                <option value="typ3"> Typ 3</option>
                            </select>
                            <span class="info">?</span>

                            <div class="tooltip">
                                <div class="content">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="cities">
                <table>
                    <thead>
                        <th></th>
                        <th> Najtańszy </th>
                        <th class='av'> Średnia </th>
                        <th class="red"> Najdroższy </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Bydgoszcz 
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td data-min="1">
                                 1,00 zł 
                            </td>
                            <td class="canvas-holder chart-cell">
                                <canvas height="603" id="can"> </canvas>
                                <div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div>
                            </td>
                            <td> 7,00 zł</td>
                        </tr>

                        <tr>
                            <td>
                                Gdańsk
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td data-min="1">
                                    1,00 zł 
                            </td>
                            <td class="chart-cell"><div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div></td>
                            <td> 7,00 zł</td>
                        </tr>

                        <tr class='active'>
                            <td>
                                Katowice
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td data-min="1">
                                    1,00 zł 
                            </td>
                            <td class="chart-cell"><div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div></td>
                            <td> 7,00 zł</td>
                        </tr>

                        <tr>
                            <td>
                                Kraków 
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td data-min="1">
                                    1,00 zł 
                            </td>
                            <td class="chart-cell"><div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div></td>
                            <td> 7,00 zł</td>
                        </tr>

                        <tr>
                            <td>
                                Łódź 
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td data-min="1">
                                    1,00 zł 
                            </td>
                            <td class="chart-cell"><div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div></td>
                            <td> 7,00 zł</td>
                        </tr>

                        <tr>
                            <td>
                                Poznań
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td data-min="1">
                                    1,00 zł 
                            </td>
                            <td class="chart-cell"><div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div></td>
                            <td> 7,00 zł</td>
                        </tr>

                        <tr>
                            <td>
                                Szczecin
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td data-min="1">
                                    1,00 zł 
                            </td>
                            <td class="chart-cell"><div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div></td>
                            <td> 7,00 zł</td>
                        </tr>

                        <tr>
                            <td>
                                Warszawa
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td data-min="1">
                                    1,00 zł 
                            </td>
                            <td class="chart-cell"><div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div></td>
                            <td> 7,00 zł</td>
                        </tr>

                        <tr>
                            <td>
                                Wrocław
                                <span class="info">?</span>
                                <div class="tooltip">
                                    <div class="content">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore unde, aspernatur quos nam optio nemo aliquam distinctio quis esse mollitia ab aut laudantium minus quam. Magnam sequi perspiciatis veritatis repellendus!
                                    </div>
                                </div>
                            </td>
                            <td>
                                    1,00 zł 
                            </td>
                            <td class="chart-cell"><div class="chart-bar"><div class="chart-point"><span>5,00zł</span></div> </div></td>
                            <td> 7,00 zł</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus qui dignissimos animi doloremque, natus suscipit molestiae est magni impedit distinctio libero soluta, eius eligendi officia. Iure ratione cumque ullam?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia harum deleniti ut voluptatibus reiciendis eum incidunt? Fugiat consequatur ex nobis, ab autem similique, recusandae corporis porro, omnis suscipit fugit incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora natus, sint facilis repudiandae nulla commodi cumque magnam cum, fuga tenetur, quibusdam rerum ipsa porro! Debitis harum culpa ipsam officia voluptas.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, laboriosam delectus nemo dolorum accusantium rem repellat cumque magnam veniam ad? Ab, saepe quia soluta nulla eum molestiae dolore totam commodi! </p>
        </div>
    </section>
{% endblock %}
{% block javascripts %}<script src="{{ asset('js/canvasChart.js') }}"></script>{% endblock %}