{% extends 'base.html.twig' %}

{% block bodyType %} class='subpage' {% endblock %}
{% block body %}
    <section class="breadcrumbs">
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <a href="index.html"> Strona główna </a>
                    <a href="#"> Kontakt </a>
                </div>
            </div>
            
        </div>
    </section>

    <section>
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12 cl-md-7 col-lg-6">
                    <h1 class="red"> Lorem, ipsum dolor sit amet elit. Molestias ad sint.</h1>
                    <p class='no-padding'> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aut consequuntur iure ad pari atur ipsum. Rerum consectetur similique totam deserunt saepe, eum, obcaecati illum voluptates culpa voluptas voluptate? Consequuntur, maiores. </p>
                </div>
                <div class="col-xs-12">

                    <form action="" class='contact'>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <input type="text" placeholder="Imię i nazwisko">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <input type="tel" placeholder="Telefon">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <input type="email" placeholder="E-mail">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <textarea name="message" id="" placeholder="Wiadomość" rows="1"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="end-xs">
                <div class="col-xs-12">
                    <a href="#" class="button yellow-bcg "> Wyślij </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}